.errorMessage {
  margin: 5px 0 8px;
  font-size: 14px;
  font-weight: 400;
  color: #ff4d6d;
}


.valid {
  color: green;
}

.auth {
  margin: 0 auto;

  &__wrapper {
    position: relative;

    &_img, &_img_register {
      position: absolute;
      z-index: -1;
    }

    &_img {
      max-width: 570px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -14%);

      img {
        width: 570px;
      }
    }

    &_img_register {
      width: 990px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -14%);

      img {
        width: 990px;
      }
    }

    &__form_register {
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-columns: repeat(auto-fill, 370px);
      grid-column-gap: 50px;
    }

    &__form.register {
      margin: 0 0 460px;
      max-width: 990px;

      div {
        height: 100%;
      }
    }

    &__form.authorization {
      max-width: 590px;
      margin: 0 0 360px;
    }

    &__form {
      transform: translate(0, 70%);
      padding: 50px 100px;
      background: #F7EBE5;
      min-height: 300px;

      label {
        margin-bottom: 6px;
        color: #292929;
      }

      label:not(:last-child) {
        display: block;
        margin-top: 15px;
      }

      input {
        width: 370px;
        padding: 14px 15px;
        border: none;
        outline: none;
      }

      input.errorInput {
        outline: 1px dashed #ff4d6d;
      }

      &_title {
        text-align: center;
        margin-bottom: 30px;
        color: #292929;
        font-size: 30px;
        font-weight: 600;

        span {
          display: block;
          margin-top: 15px;
          font-size: 18px;
          font-weight: 600;
        }

        p {
          width: 370px;
          display: block;
          margin-top: 15px;
          font-size: 15px;
          font-weight: 400;
        }
      }

      &_email {
      }

      &_password {
      }

      &_re-password {
        margin-top: 6px;
        text-align: end;
        color: #E7426A;
      }

      &_btn {
        margin-top: 15px;
        width: 100%;
        border-radius: 3px;
        padding: 16px 39px;
        color: #FFFFFF;
        border: none;
        outline: none;
        background-color: #E7426A;
      }
    }

    &_login {
      text-align: center;
      color: #292929;
      margin-top: 31px;
      font-size: 14px;
      font-weight: 600;

      span {
        color: #E7426A;
      }
    }

    &_rules {
      text-align: center;
      color: #292929;
      margin-top: 15px;
      font-size: 11px;
      font-weight: 400;

      a {
        color: #4E9DD3;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .auth {
    &__wrapper {
      &_img, &_img_register {
      }

      &_img {
        img {
        }
      }

      &_img_register {
        img {
        }
      }

      &__form_register {
      }

      &__form.register {
      }

      &__form.authorization {
      }

      &__form {
        label {
        }

        label:not(:last-child) {
        }

        input {
        }

        &_title {
          span {
          }

          p {
          }
        }

        &_email {
        }

        &_password {
        }

        &_re-password {
        }

        &_btn {
        }
      }

      &_login {
        span {
        }
      }

      &_rules {
        a {
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .auth {
    &__wrapper {
      &_img, &_img_register {
      }

      &_img {
        max-width: 450px;
        transform: translate(-50%, -38%);

        img {
          width: 450px;
        }
      }

      &_img_register {
        width: 700px;
        transform: translate(-50%, -34%);

        img {
          width: 700px;
        }
      }

      &__form_register {
        grid-template-columns: repeat(auto-fill, 295px);
        grid-column-gap: 30px;

        input {
          width: 295px;
        }
      }

      &__form.register {
        margin: 0 0 250px;
        max-width: 700px;
      }

      &__form.authorization {
        margin: 0 0 0;
      }

      &__form {
        transform: translate(0, 48%);
        padding: 50px 40px;

        label {
        }

        label:not(:last-child) {
        }

        input {
        }

        &_title {
          span {
          }

          p {
          }
        }

        &_email {
        }

        &_password {
        }

        &_re-password {
        }

        &_btn {
        }
      }

      &_login {
        span {
        }
      }

      &_rules {
        a {
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .auth {
    &__wrapper {

      &_img, &_img_register {
      }

      &_img {
        display: none;

        img {

        }
      }

      &_img_register {
        display: none;
      }

      &__form_register {
        display: block;

        input {
          width: 407px;
        }
      }

      &__form.register {
        max-width: 487px;
      }

      &__form.authorization {
        margin-top: 50px;
        max-width: 330px;

        input {
          width: 274px;
        }
      }

      &__form {
        transform: translate(0, 12%);

        label {
        }

        label:not(:last-child) {
        }

        input {
        }

        &_title {
          font-size: 22px;

          span {
            font-size: 14px;
          }

          p {
          }
        }

        &_email {
        }

        &_password {
        }

        &_re-password {
        }

        &_btn {
        }
      }

      &_login {
        span {
        }
      }

      &_rules {
        a {
        }
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .auth {
    &__wrapper {
      &_img, &_img_register {
      }

      &_img {
        display: none;

        img {
        }
      }

      &_img_register {
        display: none;

        img {

        }
      }

      &__form_register {
        input {
          width: 274px;
        }
      }

      &__form.register {
        max-width: 330px;
      }

      &__form.authorization {
      }

      &__form {
        padding: 30px 28px;

        label {
        }

        label:not(:last-child) {
        }

        input {
        }

        &_title {
          span {
          }

          p {
          }
        }

        &_email {
        }

        &_password {
        }

        &_re-password {
        }

        &_btn {
          padding: 10px 19px;
        }
      }

      &_login {
        margin-top: 14px;
        font-size: 12px;

        span {
        }
      }

      &_rules {
        a {
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .auth {
    &__wrapper {
      &_img, &_img_register {
      }

      &_img {
        img {
        }
      }

      &_img_register {
        img {
        }
      }

      &__form_register {
        input {
          width: 235px;
        }
      }

      &__form.register {
        max-width: 280px;
      }

      &__form.authorization {
        max-width: 290px;

        input {
          width: 246px;
        }
      }

      &__form {
        padding: 26px 22px;

        label {
        }

        label:not(:last-child) {
        }

        input {
        }

        &_title {
          span {
          }

          p {
          }
        }

        &_email {
        }

        &_password {
        }

        &_re-password {
        }

        &_btn {
        }
      }

      &_login {
        span {
        }
      }

      &_rules {
        a {
        }
      }
    }
  }
}
