.contacts {
  margin: 41px 0 82px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    &__images {
      position: relative;

      &_one {
        width: 293px;

        img {
          width: 293px;
        }
      }

      &_two {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-56%, -56%);

        img {
          width: 318px;
        }
      }
    }

    &__information {
      margin-left: 176px;
      width: 470px;

      &__title {
        font-size: 42px;
        font-weight: 600;
      }

      &__description {
        p {
          font-size: 18px;
          font-weight: 400;
          line-height: 22px;
          text-align: left;
        }

        p:not(:last-child) {
          margin-top: 10px;
        }

        &_title-small {
          font-size: 18px;
          font-weight: 600;
        }

        &_title-small {
          margin-top: 35px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .contacts {
    &__wrapper {
      padding: 0 10px;

      &__information {
        margin-left: 92px;
        width: 379px;
      &__title {
        font-size: 36px;
      }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contacts {
    &__wrapper {
      flex-direction: column-reverse;

      &__images {
        &_one {
          width: 224px;

          img {
            width: 224px;
          }
        }

        &_two {
          transform: translate(-61%, -56%);
          width: 224px;

          img {
            width: 244px;
          }
        }
      }

      &__information {
        display: grid;
        align-items: center;
        justify-items: center;
        margin: 0 0 56px;

        &__description {
          font-size: 16px;

          p {
            font-size: 16px;
          }

        }
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .contacts {
    margin: 41px 0 54px;

    &__wrapper {

      &__images {
        &_one {
          width: 128px;

          img {
            width: 128px;
          }
        }

        &_two {
          width: 144px;
          transform: translate(-56%, -56%);

          img {
            width: 144px;
          }
        }
      }

      &__information {
        width: 288px;

        &__title {
          font-size: 24px;
        }

        &__description {
          font-size: 14px;

          p {
            font-size: 14px;
          }

          p:not(:last-child) {
            margin-top: 7px;
          }

          &_title-small {
            margin-top: 24px;
            font-size: 14px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 360px) {

}
