.delivery {
  margin-top: 105px;
  color: #292929;

  &__wrapper {
    text-align: justify;

    &__courier {
      background: rgb(247, 247, 247);
      display: flex;
      align-items: end;
      margin-bottom: 84px;
      //justify-content: space-between;

      &__bike {
        position: relative;

        .bike {
          width: 445px;
        }

        .sheet {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-230%, -205%);
        }

        &__img {
          &_one {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-90%, -25%);
          }

          &_two {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-10%, -25%);
          }
        }
      }

      &__information {
        width: 470px;
        margin-left: 105px;

        &_title {
          font-size: 42px;
          font-weight: 600;
        }

        &_description {
          margin-top: 16px;
          font-size: 18px;
          font-weight: 400;
        }

        &_title-small {
          margin-top: 26px;
          font-size: 18px;
          font-weight: 600;
        }

        &_description-small {
          font-size: 16px;
          font-weight: 400;

          p {
            opacity: 0.9;
            margin-top: 16px;
          }
        }
      }
    }

    &__pickup {
      display: flex;
      align-items: center;

      &__information {
        margin: 0 119px 0 74px;
        width: 470px;


        &_title {
          font-size: 18px;
          font-weight: 600;
        }

        &_title:not(:last-child) {
          margin-top: 26px;
        }

        p {
          margin-top: 16px;
          font-size: 16px;
          font-weight: 400;
          opacity: 0.9;
        }
      }

      &__img {
        position: relative;

        &_one {
        }

        &_two {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -57%);
        }

        &_three {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-190%, -240%);
        }
      }
    }

  }

}

iframe {
  border: none;
}
.delivery__wrapper__map, .delivery__wrapper__map_iframe {
  width: 100vw;
  min-width: 1440px;
  min-height: 350px;
  height: 32vh;
}

.delivery__wrapper__map {
  margin: 92px auto 0;
  position: relative;
  display: flex;
  justify-content: end;
}

.delivery__wrapper__map_iframe {

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
