.title {
  text-align: center;
  margin-top: 41px;
  font-size: 30px;
  font-weight: 600;
}

.description {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
}

.dessert-catalog {
  .container {
    overflow: hidden;
  }

  &__wrapper {
    margin-top: 41px;

    &__cakes {
      background: #FEB0E1;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      &_img {
        width: 600px;
      }

      &_information {
        margin-right: 99px;

        &_title {
          font-size: 30px;
          font-weight: 600;
        }

        &_description {
          margin-top: 17px;
          font-size: 18px;
          font-weight: 400;
        }

        &__btn {
          justify-content: center;
          margin-top: 42px;
          display: flex;
          flex-wrap: wrap;
          grid-row-gap: 8px;
          grid-column-gap: 8px;

          &_kit {
            width: 230px;
            padding: 16px 0;
            font-size: 14px;
            font-weight: 600;
            border: 1px solid rgb(78, 157, 211);
            border-radius: 3px;
            background: #FEB0E1;

          }


        }
      }
    }

    &__cards {
      margin-top: 35px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      grid-column-gap: 30px;
      grid-row-gap: 28px;
      padding-bottom: 28px;
      text-align: center;


      &_card:nth-child(1) {
        background: #FFB84E;

      }

      &_card:nth-child(2) {
        background: #FEB0E1;

      }

      &_card:nth-child(3) {
        background: #FECE95;

      }

      &_card {
        width: 370px;
        padding: 11px 0;
        position: relative;
        height: 341px;
        z-index: 2;

        &_img:nth-child(1) {

        }

        &_img {

          img {

          }
        }

        &_title {
          width: 100%;
          margin-top: 10px;
          font-size: 18px;
          font-weight: 600;
          color: #FFFFFF;
        }

        &_linear-gradient {
          position: absolute;
          bottom: 0;
          z-index: -1;
          width: 369px;
          height: 168px;
          border-radius: 5px;
        }

        .orange {
          background: linear-gradient(360deg, rgba(242, 155, 53, 1) 65%, rgba(242, 155, 53, 0) 100%);

        }

        .pink {
          background: linear-gradient(360deg, rgba(227, 126, 183, 1) 65%, rgba(227, 126, 183, 0) 100%);
        }

        .light {
          background: linear-gradient(360deg, rgba(243, 214, 179, 1) 65%, rgba(243, 214, 179, 0) 100%);
        }
      }
    }
  }
}


.popular-sets {
  padding-bottom: 87px;

  &__wrapper {
    position: relative;
    margin-top: 42px;

    &__cards {
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-columns: repeat(auto-fill, 270px);
      grid-column-gap: 30px;
      grid-row-gap: 35px;
      padding-bottom: 35px;


    }
  }
}


@media screen and (max-width: 768px) {
  .dessert-catalog {
    &__wrapper {
      margin: 0 16px;

      &__cakes {
        overflow: hidden;

        &_img {
          width: 600px;
          margin-left: -226px;
        }
      }

      &__cards {
        &_card {
          width: 290px;

          &_linear-gradient {
            width: 290px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .title {
    padding: 0 20px;
    margin-top: 28px;
    font-size: 22px;
  }

  .description {
    padding: 0 30px;
    margin-top: 14px;
    font-size: 16px;
  }
  .dessert-catalog {
    &__wrapper {
      margin-top: 12px;

      &__cakes {

        &_information {
          width: 155px;
          margin-right: 0;

          &_title {
            font-size: 22px;
          }

          &_description {
            font-size: 10px;
            margin-top: 8px;
          }

          &__btn {
            margin-top: 10px;

            &_kit {
              font-size: 12px;
              width: 150px;
            }
          }
        }

        &_img {
          width: 358px;
          margin-left: -218px;

          img {
            width: 410px;

          }
        }
      }

      &__cards {
        grid-column-gap: 20px;
        grid-row-gap: 20px;

        &_card {
          width: 180px;
          height: 241px;


          &_img {
            img {
              width: 150px;
            }
          }

          &_title {
            font-size: 14px;
            padding: 0 10px;
          }

          &_linear-gradient {
            width: 180px;
          }
        }
      }
    }
  }

  .popular-sets {
    &__wrapper {
      &__cards {
        grid-template-columns: repeat(auto-fill, 180px);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
      }
    }
  }

}

@media screen and (max-width: 360px) {
  .title {
    padding: 0 20px;
    margin-top: 28px;
    font-size: 18px;
  }

  .description {
    margin-top: 14px;
    font-size: 12px;
  }

  .dessert-catalog {
    &__wrapper {
      &__cakes {
        &_img {
          width: 301px;
          margin-left: -204px;

          img {
            width: 375px;
          }
        }
        &_information {
          &_title {
            font-size: 18px;
          }
        }
      }

      &__cards {
        grid-column-gap: 10px;
        grid-row-gap: 10px;

        &_card {
          width: 140px;
          height: 190px;

          &_img {
            img {
              width: 112px;
            }
          }

          &_linear-gradient {
            width: 140px;
          }
        }
      }
    }
  }
  .popular-sets {
    &__wrapper {
      &__cards {
        grid-template-columns: repeat(auto-fill, 140px);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
      }
    }
  }
}