.title {
  text-align: center;
  margin-top: 41px;
  font-size: 30px;
  font-weight: 600;
}

.description {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
}

.dessert-catalog .container {
  overflow: hidden;
}
.dessert-catalog__wrapper {
  margin-top: 41px;
}
.dessert-catalog__wrapper__cakes {
  background: #FEB0E1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.dessert-catalog__wrapper__cakes_img {
  width: 600px;
}
.dessert-catalog__wrapper__cakes_information {
  margin-right: 99px;
}
.dessert-catalog__wrapper__cakes_information_title {
  font-size: 30px;
  font-weight: 600;
}
.dessert-catalog__wrapper__cakes_information_description {
  margin-top: 17px;
  font-size: 18px;
  font-weight: 400;
}
.dessert-catalog__wrapper__cakes_information__btn {
  justify-content: center;
  margin-top: 42px;
  display: flex;
  flex-wrap: wrap;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
}
.dessert-catalog__wrapper__cakes_information__btn_kit {
  width: 230px;
  padding: 16px 0;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid rgb(78, 157, 211);
  border-radius: 3px;
  background: #FEB0E1;
}
.dessert-catalog__wrapper__cards {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  grid-column-gap: 30px;
  grid-row-gap: 28px;
  padding-bottom: 28px;
  text-align: center;
}
.dessert-catalog__wrapper__cards_card:nth-child(1) {
  background: #FFB84E;
}
.dessert-catalog__wrapper__cards_card:nth-child(2) {
  background: #FEB0E1;
}
.dessert-catalog__wrapper__cards_card:nth-child(3) {
  background: #FECE95;
}
.dessert-catalog__wrapper__cards_card {
  width: 370px;
  padding: 11px 0;
  position: relative;
  height: 341px;
  z-index: 2;
}
.dessert-catalog__wrapper__cards_card_title {
  width: 100%;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
}
.dessert-catalog__wrapper__cards_card_linear-gradient {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 369px;
  height: 168px;
  border-radius: 5px;
}
.dessert-catalog__wrapper__cards_card .orange {
  background: linear-gradient(360deg, rgb(242, 155, 53) 65%, rgba(242, 155, 53, 0) 100%);
}
.dessert-catalog__wrapper__cards_card .pink {
  background: linear-gradient(360deg, rgb(227, 126, 183) 65%, rgba(227, 126, 183, 0) 100%);
}
.dessert-catalog__wrapper__cards_card .light {
  background: linear-gradient(360deg, rgb(243, 214, 179) 65%, rgba(243, 214, 179, 0) 100%);
}

.popular-sets {
  padding-bottom: 87px;
}
.popular-sets__wrapper {
  position: relative;
  margin-top: 42px;
}
.popular-sets__wrapper__cards {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-column-gap: 30px;
  grid-row-gap: 35px;
  padding-bottom: 35px;
}

@media screen and (max-width: 768px) {
  .dessert-catalog__wrapper {
    margin: 0 16px;
  }
  .dessert-catalog__wrapper__cakes {
    overflow: hidden;
  }
  .dessert-catalog__wrapper__cakes_img {
    width: 600px;
    margin-left: -226px;
  }
  .dessert-catalog__wrapper__cards_card {
    width: 290px;
  }
  .dessert-catalog__wrapper__cards_card_linear-gradient {
    width: 290px;
  }
}
@media screen and (max-width: 560px) {
  .title {
    padding: 0 20px;
    margin-top: 28px;
    font-size: 22px;
  }
  .description {
    padding: 0 30px;
    margin-top: 14px;
    font-size: 16px;
  }
  .dessert-catalog__wrapper {
    margin-top: 12px;
  }
  .dessert-catalog__wrapper__cakes_information {
    width: 155px;
    margin-right: 0;
  }
  .dessert-catalog__wrapper__cakes_information_title {
    font-size: 22px;
  }
  .dessert-catalog__wrapper__cakes_information_description {
    font-size: 10px;
    margin-top: 8px;
  }
  .dessert-catalog__wrapper__cakes_information__btn {
    margin-top: 10px;
  }
  .dessert-catalog__wrapper__cakes_information__btn_kit {
    font-size: 12px;
    width: 150px;
  }
  .dessert-catalog__wrapper__cakes_img {
    width: 358px;
    margin-left: -218px;
  }
  .dessert-catalog__wrapper__cakes_img img {
    width: 410px;
  }
  .dessert-catalog__wrapper__cards {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .dessert-catalog__wrapper__cards_card {
    width: 180px;
    height: 241px;
  }
  .dessert-catalog__wrapper__cards_card_img img {
    width: 150px;
  }
  .dessert-catalog__wrapper__cards_card_title {
    font-size: 14px;
    padding: 0 10px;
  }
  .dessert-catalog__wrapper__cards_card_linear-gradient {
    width: 180px;
  }
  .popular-sets__wrapper__cards {
    grid-template-columns: repeat(auto-fill, 180px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
@media screen and (max-width: 360px) {
  .title {
    padding: 0 20px;
    margin-top: 28px;
    font-size: 18px;
  }
  .description {
    margin-top: 14px;
    font-size: 12px;
  }
  .dessert-catalog__wrapper__cakes_img {
    width: 301px;
    margin-left: -204px;
  }
  .dessert-catalog__wrapper__cakes_img img {
    width: 375px;
  }
  .dessert-catalog__wrapper__cakes_information_title {
    font-size: 18px;
  }
  .dessert-catalog__wrapper__cards {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .dessert-catalog__wrapper__cards_card {
    width: 140px;
    height: 190px;
  }
  .dessert-catalog__wrapper__cards_card_img img {
    width: 112px;
  }
  .dessert-catalog__wrapper__cards_card_linear-gradient {
    width: 140px;
  }
  .popular-sets__wrapper__cards {
    grid-template-columns: repeat(auto-fill, 140px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

/*# sourceMappingURL=DessertCatalog.css.map */
