.cabinet {
  margin: 41px 0 20px;
  padding: 0 20px;

  &__wrapper {
    display: flex;

    &__menu {
      margin-right: 100px;

      &_button {
        cursor: pointer;
        border: none;
        outline: none;
        color: #292929;
        background: #F7EBE5;
        padding: 20px 15px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 600;
      }

      &_button:hover {
        background: #fddccc;
        color: #000;
      }

      &_button.page_active {
        background: #f0c1aa;
        color: #000;

      }

      &_button:not(:last-child) {
        margin-bottom: 10px;
      }

    }

    &__information {
      &_title {
        font-size: 30px;
        font-weight: 600;
      }

      &__form {
        margin-top: 20px;
        width: 450px;
        &_title {
          margin-top: 20px;
          font-size: 24px;
          font-weight: 600;
        }
        &_description {
          font-size: 18px;
          font-weight: 600;
          margin-top: 10px;
          margin-bottom: -10px;
        }

        &_block {
          display: flex;
          align-items: end;
          grid-column-gap: 10px;
          grid-row-gap: 10px;
          >div {
            width: 100%;
          }
          >div:not(:last-child) {
            //margin-right: 10px;
          }
        }
        label {
          margin-top: 10px;
          font-size: 16px;
          display: block;
        }
        input, select {
          padding: 17px 14px 14px;
          margin-top: 3px;
          background: #FFFFFF;
          border: none;
          height: auto;
          color: #292929;
          font-size: 16px;
          font-weight: 400;
          outline: 1px solid rgb(237, 237, 240); width: 100%;
        }
        textarea {
          margin-top: 3px;
          padding: 12px 14px;
          background: #FFFFFF;
          resize: none;
          width: 100%;
          height: 76px;
          border: none;
          outline: 1px solid rgb(237, 237, 240);
          font-size: 16px;
          font-weight: 400;
        }


        &_tastes {
          flex-direction: column;
          position: relative;
          display: flex;
          &_fields {
            display: flex;
            align-items: center;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            >div {
              width: 100%;

            }
          }
            &_button {
              cursor: pointer;
              margin-top: 15px;
              font-size: 16px;
              //width: 100%;
              //padding: 15px 38px;
              background: #e7426a;
              border: none;
              outline: none;
              color: #fff;
              border-radius: 3px;
              &.plus {
                position: absolute;
                right: -40px;
                top: 0;
                height: 100%;
                transform: translate(0%, 0%);
              }
              &.minus {
                margin-top: 34px;
                padding: 2px 4px;
                position: absolute;
                right: -20px;
              }
            }


        }
        &_button {
          cursor: pointer;
          margin-top: 25px;
          font-size: 16px;
          width: 100%;
          padding: 15px 38px;
          background: #e7426a;
          border: none;
          outline: none;
          color: #fff;
          border-radius: 3px;
        }

      }

      table {
        text-align: center;
        margin-top: 20px;
        border: 1px solid black;
        border-collapse: collapse;
      }

      th {
        font-size: 16px;
        font-weight: 600;
        padding: 6px 25px;
        border: 1px solid black;
      }

      td {
        font-size: 14px;
        font-weight: 400;
        padding: 10px 25px;
        background: #ededed;
        border-bottom: 1px solid black;

        span {
          color: #4E9DD3;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .cabinet {
    &__wrapper {
      &__menu {
        margin-right: 50px;
      }

      &__information {
        th {
          padding: 10px 15px;
        }

        td {
          padding: 10px 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .cabinet {
    &__wrapper {
      flex-direction: column;

      &__menu {
        display: flex;

        &_button {
          text-align: center;
        }

        &_button:not(:last-child) {
          margin-bottom: 0;
          margin-right: 15px;
        }
      }

      &__information {
        &_title {
          margin-top: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .cabinet {
    padding: 10px;

    &__wrapper {
      &__menu {
        &_button {
          font-size: 12px;
          padding: 10px 10px;
        }
      }

      &__information {
        &_title {
          font-size: 22px;

        }

        table {
          margin-top: 10px;
        }

        th {
          font-size: 10px;
          padding: 4px 4px;
        }

        td {
          font-size: 8px;
          padding: 4px 4px;
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
}