hr {
  margin: 16px 0;
  border: none;
  border-top: 0.1px solid rgb(209, 209, 214);
}

.order-history {
  padding: 20px;
}
.order-history .container {
  overflow: hidden;
}
.order-history__wrapper {
  margin-top: 41px;
}
.order-history__wrapper_title {
  font-size: 30px;
  font-weight: 600;
}
.order-history__wrapper_description {
  margin: 30px 0 20px;
  font-size: 26px;
  font-weight: 500;
}
.order-history__wrapper__cards hr {
  border-top: 0.1px solid rgb(237, 237, 237);
}
.order-history__wrapper__cards__card {
  display: flex;
  align-items: center;
}
.order-history__wrapper__cards__card__title {
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  width: 350px;
}
.order-history__wrapper__cards__card_description {
  padding: 10px;
  font-size: 14px;
}
.order-history__wrapper__cards__card_description span {
  display: block;
}
.order-history__wrapper__cards__card_description span:not(:last-child) {
  margin-bottom: 10px;
}
.order-history__wrapper__information {
  width: 100%;
  max-width: 670px;
  margin-bottom: 44px;
  position: relative;
  margin-right: 30px;
}
.order-history__wrapper__information__product {
  background: white;
  padding: 20px 26px 20px 17px;
}
.order-history__wrapper__information__product__layout {
  position: relative;
  display: flex;
  align-items: center;
}
.order-history__wrapper__information__product__layout_images {
  margin-right: 15px;
  width: 80px;
  height: 80px;
}
.order-history__wrapper__information__product__layout_images img {
  width: 80px;
  height: 80px;
}
.order-history__wrapper__information__product__layout__things {
  width: 201px;
  margin-right: 17px;
}
.order-history__wrapper__information__product__layout__things_title {
  font-size: 14px;
  font-weight: 600;
}
.order-history__wrapper__information__product__layout__things__description {
  color: #292929;
  line-height: 18px;
  margin-top: 8px;
  font-size: 12px;
  font-weight: 400;
}
.order-history__wrapper__information__product__layout__quantity {
  display: flex;
  margin-right: 70px;
  align-items: center;
  justify-content: center;
}
.order-history__wrapper__information__product__layout__quantity_minus, .order-history__wrapper__information__product__layout__quantity_plus {
  cursor: pointer;
  outline: 1px solid rgba(41, 41, 41, 0.1);
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 500;
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 3px;
}
.order-history__wrapper__information__product__layout__quantity_minus span, .order-history__wrapper__information__product__layout__quantity_plus span {
  position: absolute;
  top: 50%;
  left: 50%;
}
.order-history__wrapper__information__product__layout__quantity_minus {
  color: #292929;
}
.order-history__wrapper__information__product__layout__quantity_minus span {
  transform: translate(-55%, -56%);
}
.order-history__wrapper__information__product__layout__quantity_plus {
  color: #292929;
}
.order-history__wrapper__information__product__layout__quantity_plus span {
  transform: translate(-50%, -50%);
}
.order-history__wrapper__information__product__layout__quantity_number {
  margin: 0 14px;
  font-size: 16px;
  font-weight: 600;
}
.order-history__wrapper__information__product__layout__price {
  font-size: 14px;
  font-weight: 600;
}
.order-history__wrapper__information__product__layout__price span {
  color: #E7426A;
}
.order-history__wrapper__information__product__layout_cross {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  color: #292929;
  opacity: 0.2;
  font-size: 12px;
}
.order-history__wrapper__information__product__total-price {
  display: flex;
  justify-content: space-between;
}
.order-history__wrapper__information__product__total-price_description {
  font-size: 14px;
  font-weight: 400;
}
.order-history__wrapper__information__product__total-price_price {
  font-size: 18px;
  font-weight: 600;
  color: #E7426A;
}

@media screen and (max-width: 768px) {
  .order-history__wrapper__cards hr {
    margin: 10px 0;
  }
  .order-history__wrapper__cards__card__title {
    font-size: 16px;
    width: 300px;
  }
}
@media screen and (max-width: 560px) {
  .order-history__wrapper_title {
    font-size: 22px;
  }
  .order-history__wrapper_description {
    font-size: 16px;
    margin-top: 20px;
  }
  .order-history__wrapper__cards__card {
    display: block;
  }
  .order-history__wrapper__cards__card__title {
    font-size: 16px;
    width: 250px;
  }
  .order-history__wrapper__cards__card_description {
    font-size: 14px;
  }
  .order-history__wrapper__information__product {
    padding: 20px 13px 20px 11px;
  }
  .order-history__wrapper__information__product__layout {
    display: block;
    position: relative;
  }
  .order-history__wrapper__information__product__layout_images {
    position: absolute;
  }
  .order-history__wrapper__information__product__layout__things {
    max-width: 440px;
    width: 100%;
    margin-left: 100px;
  }
  .order-history__wrapper__information__product__layout__things_title {
    font-size: 12px;
    max-width: 190px;
    width: 100%;
  }
  .order-history__wrapper__information__product__layout__things__description {
    line-height: 14px;
    font-size: 10px;
  }
  .order-history__wrapper__information__product__layout__quantity {
    margin-top: 22px;
    justify-content: left;
  }
  .order-history__wrapper__information__product__layout__quantity_number {
    font-size: 12px;
    margin: 0;
  }
  .order-history__wrapper__information__product__layout__price {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(95%, 0);
  }
  .order-history__wrapper__information__product__total-price_description {
    font-size: 10px;
    width: 152px;
  }
}
@media screen and (max-width: 360px) {
  .order-history__wrapper_title {
    font-size: 18px;
  }
  .order-history__wrapper_description {
    font-size: 14px;
  }
}

/*# sourceMappingURL=OrderHistory.css.map */
