img {
  object-fit: cover;
}

hr {
  border: 1px solid rgb(237, 237, 240);
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.product {
  margin-top: 87px;
}
.product__wrapper__informations__title {
  display: none;
}
.product__wrapper__card-product {
  display: flex;
  justify-content: center;
}
.product__wrapper__images img {
  width: 570px;
  height: 450px;
}
.product__wrapper__images__card {
  display: flex;
  margin-top: 14px;
}
.product__wrapper__images__card img {
  margin-right: 15px;
  width: 71.25px;
  height: 71.25px;
}
.product__wrapper__block {
  margin-left: 30px;
  width: 100%;
}
.product__wrapper__information__title {
  font-size: 30px;
  font-weight: 600;
}
.product__wrapper__information__title p {
  margin-top: 11px;
  font-size: 16px;
  font-weight: 400;
}
.product__wrapper__information__tastes {
  width: 100%;
  margin-top: 20px;
  background: #ffffff;
  padding: 26px 27px 24px;
  border-radius: 5px;
}
.product__wrapper__information__tastes_title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.product__wrapper__information__tastes__name-quantity {
  display: flex;
  justify-content: space-between;
  align-items: end;
  text-align: right;
}
.product__wrapper__information__tastes__name-quantity_name:not(:last-child) {
  margin-bottom: 10px;
}
.product__wrapper__price {
  margin-top: 10px;
  display: flex;
  font-size: 24px;
  color: #E7426A;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding: 15px 28px;
  border-radius: 5px;
}
.product__wrapper__price_btn {
  padding: 15px 38px;
  background: #E7426A;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 3px;
}
.product__wrapper__price .black {
  color: #292929;
  text-align: right;
  font-size: 14px;
}
.product__wrapper__delivery {
  margin-top: 31px;
}
.product__wrapper__delivery__card {
  display: flex;
  align-items: center;
}
.product__wrapper__delivery__card i {
  width: 46px;
  font-size: 30px;
  color: #E7426A;
}
.product__wrapper__delivery__card i:not(:last-child) {
  margin-bottom: 16px;
}
.product__wrapper__delivery__card_description {
  font-size: 14px;
  font-weight: 400;
  width: 486px;
  margin-left: 31px;
}
.product__wrapper__description {
  width: 100%;
  margin-top: 36px;
  padding: 22px 22px 57px;
  background: #ffffff;
}
.product__wrapper__description__title {
  display: flex;
}
.product__wrapper__description__title_btn {
  color: #292929;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 17px;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
.product__wrapper__description__title_btn .div {
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -120%;
  left: 0%;
  background: #E7426A;
}
.product__wrapper__description__title_btn:not(:last-child) {
  margin-right: 29px;
}
.product__wrapper__description__description {
  margin-top: 41px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.product__wrapper__description__description p:not(:last-child) {
  margin-bottom: 30px;
}

.popular-sets {
  margin-top: 70px;
  padding-bottom: 87px;
}
.popular-sets__wrapper {
  position: relative;
  margin-top: 42px;
}
.popular-sets__wrapper__cards {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-column-gap: 30px;
  grid-row-gap: 35px;
  padding-bottom: 35px;
}

@media screen and (max-width: 1280px) {
  .product__wrapper {
    padding: 0 10px;
  }
  .product__wrapper__card-product {
    flex-wrap: wrap;
  }
  .product__wrapper__block {
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .product__wrapper__images img {
    width: 470px;
    height: auto;
  }
  .product__wrapper__images__card img {
    width: 71.25px;
    height: 71.25px;
  }
}
@media screen and (max-width: 560px) {
  .title {
    font-size: 22px;
  }
  .product__wrapper__informations__title {
    text-align: center;
    display: block;
    font-size: 22px;
    margin-bottom: 11px;
    font-weight: 600;
  }
  .product__wrapper__informations__title p {
    font-weight: 400;
    font-size: 12px;
  }
  .product__wrapper__images img {
    width: 288px;
    height: 227px;
  }
  .product__wrapper__images__card {
    margin-top: 11px;
  }
  .product__wrapper__images__card img {
    width: 36px;
    height: 36px;
    margin-right: 8px;
  }
  .product__wrapper__information__title {
    display: none;
  }
  .product__wrapper__information__tastes {
    padding: 18px;
  }
  .product__wrapper__information__tastes_title {
    font-size: 14px;
  }
  .product__wrapper__information__tastes__name-quantity {
    align-items: flex-start;
    font-size: 14px;
  }
  .product__wrapper__price {
    font-size: 18px;
    padding: 18px;
  }
  .product__wrapper__price .black {
    color: #292929;
    font-size: 8px;
  }
  .product__wrapper__delivery__card {
    align-items: flex-start;
  }
  .product__wrapper__delivery__card_description {
    font-size: 12px;
  }
  .product__wrapper__description {
    padding: 18px;
    margin-top: 8px;
  }
  .product__wrapper__description__title_btn {
    height: 42px;
    font-size: 12px;
    margin-bottom: 6px;
  }
  .product__wrapper__description__title_btn .div {
    bottom: -20%;
  }
  .product__wrapper__description__description {
    font-size: 12px;
    margin-top: 13px;
    line-height: 18px;
  }
  .product__wrapper__description__description p:not(:last-child) {
    margin-bottom: 15px;
  }
  .popular-sets {
    margin-top: 28px;
  }
  .popular-sets__wrapper__cards {
    grid-template-columns: repeat(auto-fill, 180px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
@media screen and (max-width: 360px) {
  .title {
    font-size: 18px;
  }
  .product__wrapper__price {
    font-size: 18px;
    padding: 18px;
  }
  .product__wrapper__price .black {
    width: 144px;
    color: #292929;
    font-size: 6px;
  }
  .popular-sets {
    margin-top: 28px;
  }
  .popular-sets__wrapper__cards {
    grid-template-columns: repeat(auto-fill, 140px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

/*# sourceMappingURL=Product.css.map */
