@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*:root {*/
/*    --bg: #FFFEFE;*/
/*    --bg2: #FBF8F8;*/
/*    --mainBlock: #FFC59E;*/
/*    --mainText: #59443F;*/
/*    --title: #080606;*/
/*    --menuOrder: #C3B9B5;*/
/*    --border: #EDE9E8;*/
/*    --mainFont: 'Jost', sans-serif;*/
/*    --minorFont: 'Playfair Display', serif;*/
/*}*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

img {
    background-position: center;
    background-size: cover;
}

body {
    background: #F7F7F7;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #292929;
}

p {
    font-family: 'Montserrat', sans-serif;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    overflow: hidden;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}