.footer {
  background: #EBEDEE;

  .container {
    overflow: hidden;
  }

  &__wrapper {
    display: flex;
    padding: 58px 0 69px;
    color: #292929;

    &_title {
      margin-bottom: 18px;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
    }

    &_description {
      font-size: 14px;
      font-weight: 400;

      div:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    &__information {
      margin-right: 30px;
      width: 172px;
    }

    &__delivery {
      width: 370px;
      margin-right: 30px;

      &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, 144px);
        text-align: center;
        grid-row-gap: 10px;

        &__card {
          width: 144px;

          &_icon {
            font-size: 44px;
            color: #4E9DD3;
          }


          &__description {
            font-size: 12px;
            font-weight: 400;
            margin-right: 10px;
          }
        }
      }

      &_address {
        margin-top: 28px;
        font-size: 12px;
        font-weight: 400;
      }
    }


    &__networks {
      &__number {
        text-align: end;

        &_telephone {
          font-size: 18px;
          font-weight: 600;
        }

        &_time {
          margin-top: 5px;
          font-size: 14px;
          font-weight: 400;

        }
      }

      &__social {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 70px;

        div {
          width: 40px;
          height: 40px;
          background: #FFFFFF;
          border-radius: 100%;
          position: relative;

          i {
            font-size: 20px;
            color: #292929;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        div:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }
}


@media screen and (max-width: 1280px) {
  .footer {
    padding: 0 10px;

    &__wrapper {
      &__delivery {
        margin-right: 12px;
      }

      &__information {
        margin-right: 12px;
      }

      &__networks {
        &__number {
          &_telephone {
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
  .footer {
    &__wrapper {
      display: grid;
      justify-content: center;

      &__delivery {
        &__cards {
          display: block;
          text-align: start;

          &__card {
            width: 442px;
            display: flex;
            align-items: center;
            justify-content: start;
            grid-column-gap: 30px;
            position: relative;

            &__description {
              position: absolute;
              top: 50%;
              left: 23%;
              transform: translate(0, -50%);
            }

            &_icon {
              font-size: 60px;
            }
          }
        }

        &_address {
          width: 200px;
        }
      }

      &__information {
        display: none;
      }

      &__networks {
        margin-top: -60px;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .footer {
    &__wrapper {
      display: flex;
      flex-wrap: wrap;

      &__delivery {
        &__cards {
          &__card {
            width: 300px;

            &_icon {
              font-size: 50px;
            }

            &__description {
              left: 28%;
            }
          }
        }
      }

      &__networks {
        &__number {
          margin-left: 174px;
        }
      }
    }
  }
}


@media screen and (max-width: 360px) {
  .footer {
    &__wrapper {
      &__delivery {
        width: auto;
        margin-right: 0;

        &_address {
          width: 140px;
          font-size: 10px;
        }
      }

      &__networks {
        margin-top: -64px;

        &__number {
          &_telephone {
            font-size: 12px;
            font-weight: 600;
          }

          &_time {
            font-size: 10px;
          }
        }

        &__social {
          margin-top: 50px;

          div {
            width: 36px;
            height: 36px;
          }

          div i {
            font-size: 16px;
          }
        }
      }
    }
  }
}