li {
  cursor: pointer;
  user-select: none;
}

.router-link {
  font-size: 14px;
  font-weight: 400;
}

.the-navbar {
  .information__menu {
    background: #F7EBE5;
    padding: 14px 160px 14px;

    .dropdown-menu {
      color: #292929;
      text-align: left;
      border: 1px solid rgb(236, 199, 180);
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
      position: absolute;
      left: 50%;
      transform: translate(-30%, 4%);
      display: block;
      background: #F7EBE5;
      z-index: 99999;
      padding: 0;

      &_group {
        width: 235px;
        text-transform: none;
        padding: 11px 17px;
        background: #F7EBE5;

        a {
          font-size: 16px;
          font-weight: 400;
        }
      }

      &_group:not(:last-child) {
        border-bottom: 0.5px solid rgb(236, 199, 180);
      }

      &_group:hover {
        background: #ECC7B4;
      }
    }

    ul .ic_VectorButton {
      font-size: 8px;
      margin-left: 5px;
    }

    li {
      font-size: 14px;
      font-weight: 400;
    }


    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 0;
    }

    &-guarantee, &-contact, &-social {
      display: flex;
    }

    &-guarantee i, &-contact i {
      margin-right: 5px;
    }

    &-guarantee li:not(:last-child) {
      margin-right: 14px;
    }

    &-contact > li:not(:last-child) {
      margin-right: 35px;
    }

    &-social li:not(:last-child) {
      margin-right: 18px;
    }
  }

  .header {
    background: white;
    padding: 0 160px 16px;

    .menu {


      &-ul {
        position: relative;
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        padding-top: 19px;
        margin: 0 93px 0 26px;

        .dropdown-menu {
          color: #292929;
          text-align: left;
          outline: 1px solid rgb(237, 237, 240);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
          position: absolute;
          left: 50%;
          transform: translate(-50%, 4%);
          width: 235px;
          z-index: 1000;

          &_group {
            width: 235px;
            text-transform: none;
            padding: 11px 17px;
            background: #FFFFFF;
            border-bottom: 0.5px solid rgb(237, 237, 240);

            a {
              font-size: 16px;
              font-weight: 400;
            }
          }

          &_group:hover {
            background: #F7F7F7;
          }
        }

        li {
          position: relative;
          text-transform: uppercase;
        }
      }

      li:not(:last-child) {
      }

      ul .ic_VectorButton {
        font-size: 8px;
        margin-left: 5px;
      }

      .percent {
        color: white;
        font-size: 15px;
        padding: 4px 5px;
        background: #E7426A;
        border-radius: 100%;
        margin-left: 5px;
      }


      &__logo {
        position: relative;
        max-width: 124px;
        max-height: 124px;
        border-radius: 100%;
        background: #B3D9F3;
        text-align: center;
        padding: 10px 0 15px;


        .ic_cap {
          color: white;
          font-size: 62px;
        }

        .ic_LogoName {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -25%);
          font-size: 51px;
        }

        &_arrow {
          z-index: 1;
          margin: 23px 56px 0;

          .ic_VectorRight, .ic_VectorLeft {
            font-size: 7px;
          }
        }
      }
    }
  }


}