hr {
  margin: 16px 0;
  border: none;
  border-top: 0.1px solid rgb(237, 237, 240);
}

.wholesale-supplies {
  margin-top: 53px;
}
.wholesale-supplies .container {
  overflow: hidden;
}
.wholesale-supplies__wrapper {
  padding: 10px;
}
.wholesale-supplies__wrapper__offer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
.wholesale-supplies__wrapper__offer__images {
  position: relative;
}
.wholesale-supplies__wrapper__offer__informations {
  display: none;
}
.wholesale-supplies__wrapper__offer__information {
  width: 670px;
  margin-left: 35px;
}
.wholesale-supplies__wrapper__offer__information__title {
  font-size: 42px;
  font-weight: 600;
}
.wholesale-supplies__wrapper__offer__information__description {
  margin: 13px 0 0;
  font-size: 18px;
  font-weight: 400;
}
.wholesale-supplies__wrapper__offer__information__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-wrap: wrap;
  margin-top: 12px;
  margin-bottom: 41px;
}
.wholesale-supplies__wrapper__offer__information__btn button {
  width: 230px;
  cursor: pointer;
  padding: 14px 74px;
  background: none;
  border: none;
  outline: 1px solid rgb(78, 157, 211);
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
  color: #292929;
}
.wholesale-supplies__wrapper__offer__information p {
  font-size: 15px;
  font-weight: 400;
  text-align: left;
}
.wholesale-supplies__wrapper__offer__information .one, .wholesale-supplies__wrapper__offer__information .two, .wholesale-supplies__wrapper__offer__information .three, .wholesale-supplies__wrapper__offer__information .four {
  position: absolute;
  top: 50%;
  z-index: -1;
}
.wholesale-supplies__wrapper__offer__information .one {
  width: 440px;
  height: 440px;
  left: 0;
  transform: translate(-24%, -40%);
}
.wholesale-supplies__wrapper__offer__information .two {
  width: 276px;
  height: 276px;
  right: 0;
  transform: translate(24%, -121%);
}
.wholesale-supplies__wrapper__offer__information .three {
  left: 50%;
  transform: translate(-101%, -83%);
}
.wholesale-supplies__wrapper__offer__information .four {
  left: 50%;
  transform: translate(-101%, -28%);
}
.wholesale-supplies__wrapper__for-what {
  margin-top: 83px;
  margin-bottom: 43px;
}
.wholesale-supplies__wrapper__for-what_title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
.wholesale-supplies__wrapper__for-what__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 268px);
  grid-column-gap: 30px;
  grid-row-gap: 54px;
  margin-top: 51px;
  align-items: center;
  justify-content: center;
}
.wholesale-supplies__wrapper__for-what__cards__card {
  text-align: center;
}
.wholesale-supplies__wrapper__for-what__cards__card_icon {
  position: relative;
  height: 90px;
}
.wholesale-supplies__wrapper__for-what__cards__card_icon i {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background: #fff;
  font-size: 50px;
  padding-top: 20px;
}
.wholesale-supplies__wrapper__for-what__cards__card .ic_present {
  color: #57B6BB;
}
.wholesale-supplies__wrapper__for-what__cards__card .ic_cart {
  color: #D17EAC;
}
.wholesale-supplies__wrapper__for-what__cards__card .ic_chair {
  color: #8A8CDC;
}
.wholesale-supplies__wrapper__for-what__cards__card .ic_machine {
  color: #CC9180;
}
.wholesale-supplies__wrapper__for-what__cards__card .ic_house {
  color: #92C2D6;
}
.wholesale-supplies__wrapper__for-what__cards__card .ic_shop {
  color: #FBBC8F;
}
.wholesale-supplies__wrapper__for-what__cards__card .ic_cake {
  color: #E58383;
}
.wholesale-supplies__wrapper__for-what__cards__card .ic_mine {
  color: #E67285;
}
.wholesale-supplies__wrapper__for-what__cards__card__description {
  margin-top: 13px;
  font-size: 14px;
  font-weight: 600;
}
.wholesale-supplies__wrapper__answers-questions {
  margin-bottom: 69px;
  margin-top: 81px;
}
.wholesale-supplies__wrapper__answers-questions_title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
.wholesale-supplies__wrapper__answers-questions__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 370px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 33px;
}
.wholesale-supplies__wrapper__answers-questions__cards__card {
  outline: 1px solid rgb(237, 237, 240);
  border-radius: 5px;
  width: 370px;
  background: #fff;
  padding: 20px;
}
.wholesale-supplies__wrapper__answers-questions__cards__card_title {
  font-size: 18px;
  font-weight: 600;
}
.wholesale-supplies__wrapper__answers-questions__cards__card_description {
  margin-top: 11px;
  font-size: 16px;
  font-weight: 400;
}
.wholesale-supplies__wrapper__answers-questions__cards__card__name {
  display: flex;
  text-align: right;
  align-items: end;
  justify-content: end;
}
.wholesale-supplies__wrapper__answers-questions__cards__card__name div {
  margin-right: 13px;
}
.wholesale-supplies__wrapper__answers-questions__cards__card__name div p {
  font-size: 12px;
  font-weight: 600;
}
.wholesale-supplies__wrapper__answers-questions__cards__card.one {
  height: 194px;
}
.wholesale-supplies__wrapper__answers-questions__cards__card.two {
  height: 332px;
}
.wholesale-supplies__wrapper__answers-questions__cards__card.three {
  height: 455px;
}
.wholesale-supplies__wrapper__answers-questions__cards__card.four {
  margin-top: -264px;
  height: 286px;
}

@media screen and (max-width: 1024px) {
  .wholesale-supplies__wrapper__offer__information__title {
    font-size: 36px;
  }
  .wholesale-supplies__wrapper__offer__information__description {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .wholesale-supplies__wrapper__offer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .wholesale-supplies__wrapper__offer__images {
    margin-top: 20px;
  }
  .wholesale-supplies__wrapper__offer__images img {
    width: 569px;
  }
  .wholesale-supplies__wrapper__offer__informations {
    display: block;
  }
  .wholesale-supplies__wrapper__offer__informations__title {
    font-weight: 600;
    font-size: 36px;
  }
  .wholesale-supplies__wrapper__offer__informations__description {
    margin-top: 14px;
    width: 500px;
    font-size: 16px;
    font-weight: 400;
  }
  .wholesale-supplies__wrapper__offer__information {
    margin-left: 0;
  }
  .wholesale-supplies__wrapper__offer__information__title {
    display: none;
  }
  .wholesale-supplies__wrapper__offer__information__description {
    display: none;
  }
  .wholesale-supplies__wrapper__offer__information__btn button {
    padding: 14px 0;
  }
  .wholesale-supplies__wrapper__offer__information p {
    margin: 0 auto;
    width: 410px;
  }
  .wholesale-supplies__wrapper__for-what__cards {
    grid-template-columns: repeat(auto-fill, 255px);
    grid-column-gap: 20px;
    grid-row-gap: 36px;
  }
}
@media screen and (max-width: 560px) {
  .wholesale-supplies__wrapper__offer__images img {
    width: 340px;
  }
  .wholesale-supplies__wrapper__offer__informations__title {
    font-size: 24px;
  }
  .wholesale-supplies__wrapper__offer__informations__description {
    font-size: 14px;
    width: 340px;
  }
  .wholesale-supplies__wrapper__offer__information__title {
    font-size: 24px;
  }
  .wholesale-supplies__wrapper__offer__information__description {
    font-size: 14px;
  }
  .wholesale-supplies__wrapper__offer__information__btn {
    margin-top: 10px;
    margin-bottom: 26px;
  }
  .wholesale-supplies__wrapper__offer__information__btn button {
    font-size: 12px;
    width: 150px;
  }
  .wholesale-supplies__wrapper__offer__information p {
    width: 340px;
    font-size: 14px;
  }
  .wholesale-supplies__wrapper__for-what {
    margin-top: 43px;
  }
  .wholesale-supplies__wrapper__for-what_title {
    font-size: 22px;
  }
  .wholesale-supplies__wrapper__for-what__cards {
    margin-top: 32px;
    grid-template-columns: repeat(auto-fill, 138px);
    grid-column-gap: 10px;
    grid-row-gap: 18px;
  }
  .wholesale-supplies__wrapper__for-what__cards__card_icon i {
    width: 68px;
    height: 68px;
    font-size: 34px;
    padding-top: 16px;
  }
  .wholesale-supplies__wrapper__for-what__cards__card__description {
    font-size: 12px;
  }
}
@media screen and (max-width: 360px) {
  .wholesale-supplies__wrapper__offer__images img {
    width: 267px;
  }
  .wholesale-supplies__wrapper__offer__informations__description {
    margin: 0 auto;
    width: 267px;
  }
  .wholesale-supplies__wrapper__offer__information__btn {
    display: grid;
  }
  .wholesale-supplies__wrapper__offer__information p {
    width: 288px;
  }
  .wholesale-supplies__wrapper__for-what_title {
    font-size: 18px;
  }
}

/*# sourceMappingURL=WholesaleSupplies.css.map */
